*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordian{
    max-width: 600px;
    margin: 50px auto;
}

.item{
    margin: 10px 0;
}

.label{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    color: #222;
    cursor: pointer;
}

.content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.label::before{
    content: '+';
    margin-right: 10px;
}

input:checked + .label::before{
    content: '-';
}

input:checked ~ .content{
    max-height: 100vh;
}
