h2 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

p {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
}

a {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
}